@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(12, 187, 12);
}

.card {
  margin-top: 50px;
  text-align: center;
  display: flex;
  background: rgb(237, 241, 245);
  width: 240px;
  height: 370px;
  border-radius: 4%;
  border-color: 1px red;
}
.suit {
  font-size: 150px;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 20px;
}

#top {
  font-size: 30px;
  top: 0px;
  left: 2px;
  position: absolute;
}

#down {
  font-size: 30px;
  bottom: 0px;
  right: 2px;
  position: absolute;
}
