@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(12, 187, 12);
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: blue;
}
.card {
  font-family: 'Lucida Sans';
  text-align: center;
  display: flex;
  position: absolute;
  justify-content: space-between;
  background: rgb(237, 241, 245);
  width: 240px;
  height: 370px;
  border-radius: 4%;
  border-color: 1px red;
}
.suit {
  font-size: 150px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 20px;
  position: fixed;
}

#top {
  font-size: 30px;
  top: 5px;
  left: 15px;
  float: left;
}

#down {
  font-size: 30px;
  bottom: 5px;
  right: -200px;
  float: right;
  position: relative;
}
