@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(12, 187, 12);
}

.card {
  background-color: rgb(237, 241, 245);
  padding: 5px;
  margin: 5px;
  height: 350px;
  width: 200px;
  border-radius: 4%;
  border: 5px black;
}
.suit {
  height: 200px;
  text-align: center;
  position: relative;
  font-size: 150px;
  margin: 10px;
  padding-top: 40px;
}

.numbers {
  font-size: 30px;
  position: absolute;
  top: 18px;
  left: 20px;
}
.numbers_2 {
  transform: translate(-80%, -80%);
  font-size: 30px;
  position: absolute;
  bottom: -20px;
  right: 10px;
}
